name: ci-dev

on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev

permissions:
  actions: write

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8

      - name: Get pip cache dir
        id: pip-cache
        run: |
          python -m pip install --upgrade pip wheel
          echo "::set-output name=dir::$(pip cache dir)"

      - name: Cache python modules
        uses: actions/cache@master
        id: cache-modules
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py', '**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install requirements
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: |
          python setup.py install
          pip install pytest pytest-cov

      - name: Unpack testing data
        run: |
          7z x tests/tree_for_test.7z
          7z x tests/acdc_for_test.7z

      - name: Generate coverage report
        run: |
          pytest --cov=./ --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: pytest
          fail_ci_if_error: true